.se-widget-container {
  position: absolute;
  font-family: Verdana;
}

.se-widget-toggler {
  background-color: black;
  outline: none;
  cursor: pointer;
  border: none;
  color: white;
  transform: rotate(90deg);
  transform-origin: bottom left;
  padding: 5px 10px;
  font-size: 14px;
  z-index: 99;
  position: relative;
  width: 105px;
  float: right;
}

.se-hidden {
  display: none;
}

.se-input-group label {
  display: block;
  font-size: 0.8em;
}

.se-other-fields { margin-top: 1.5em; }
.se-input-group {
  margin-bottom: 1.5em;

  width: 100%;

  &:last-child { margin-bottom: 0; }

  &.se-input-query {
    margin: 0;
  }

  .se-input-group {
    display: inline-block;
    margin-bottom: 0;
    width: 49%;
  }

  textarea {width: 100%; }

  input, select {
    height: 20px;
    padding: 0 5px;
    width: 100%;
  }
}

.se-widget{
  position:relative;
  z-index: 89;
  display: none;
  h1 {
    font-size: 1.5em;
    color: #000;
  }
}

.se-widget.se-widget-open {
  float:left;
  display: block;
  float: left;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px 20px;
  width: 405px;
}




.se-similar-question {
  padding: 0;
  list-style: none;
  font-size: 0.8em;
  background-color: wheat;
  max-height: 95px;
  overflow: auto;
  margin: 0;

  li {
    padding: 5px;
  }

  li:hover {
    background-color: #efc674;
  }
}

.se-error {
  margin: 0;
  color: #a94442;
  font-size: 0.8em;
  padding: 5px;
  background-color: #f2dede;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ebccd1;
  border-top: none;
}

.se-success {
  margin: 0;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-bottom: 1.5em;
}
